# Variables d environnement
python-dotenv

# Parsing & data
pandas>=3.0.1
numpy>=2.4.2
openpyxl>=3.1.5
pyyaml>=6.0.3

# Etape 2 - embeddings & similarite semantique
sentence-transformers
scipy

# Etape 3 - visualisation
seaborn
matplotlib

# Etape 4 - LLM
pydantic>=2.0
openai

# UI
streamlit
